<h1> This is <%= @menu.chefs_name%>'s Full Menu </h1>
<html>
<body>

  <%= image_tag("front/menubackground.jpeg") %>
  <ul>
    <% @menu.items.each do |item| %>
      <li><%= item.name %></li>
    <% end %>
  </ul>

  <ul>
    <li><a href="<%= new_menu_url(@menu) %>">New Menu</a></li>
    <li><a href="<%= edit_menu_url(@menu) %>">Edit <%= @menu.chefs_name%>'s Menu</a></li>
    <li><a href="<%= menus_url %>">Index</a></li>
  </ul>
</body>
</html>